body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    padding: 2%;
    width: 75%;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 gray;
    background-color: lightgray;
}

#inputArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

#inputArea > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrow {
    font-size: 1em;
}

input[type=text] {
    font-size: 1em;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

#pointsText {
    text-align: center;
    border-style: bold;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 0px black;
    padding: 0.25em;
    margin: 0;
}

#keyboardArea {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#keyboardArea > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#keyboardArea > p {
    float: bottom;
    margin: 0;
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 0;

    box-shadow: 1px 1px 1px 0 black;
}

/* Size and move the keys to match a real keyboard. */

/* Backspace. */
#keyboardArea > div:nth-child(1) > button:last-child {
    margin-left: 130px;
    width: 120px;
}

/* Tab. */
#keyboardArea > div:nth-child(2) > button:first-child {
    width: 90px;
}

/* Enter. */
#keyboardArea > div:nth-child(2) > button:last-child {
    width: 90px;
}

/* Capslock. */
#keyboardArea > div:nth-child(3) > button:first-child {
    width: 110px;
}

/* Left shift. */
#keyboardArea > div:nth-child(4) > button:first-child {
    width: 80px;
}

/* Key right of less than -key. */
#keyboardArea > div:nth-child(4) > button:nth-child(2) {
    margin-left: 65px;
}

/* Right shift. */
#keyboardArea > div:nth-child(4) > button:nth-child(12) {
    width: 100px;
}

/* Space. */
#keyboardArea > div:nth-child(5) > button:first-child {
    margin-left: 245px;
    width: 400px;
}

/* Left-arrow. */
#keyboardArea > div:nth-child(5) > button:nth-child(2) {
    margin-left: 125px;
}

/* Right-arrow. */
#keyboardArea > div:nth-child(5) > button:nth-child(3) {
    margin-left: 65px;
}

/* Dynamically changing styles. */

.button-active {
    filter: brightness(85%);
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.good {
    color: green;
}

/* Styling both languages' characters on the keys. */
.targetLang {
    position: relative;
    font-size: 110%;
    bottom: 40%;
    padding-right: 40%;
}

.sourceLang {
    position: relative;
    font-size: 90%;
    color: gray;
    bottom: -45%;
    padding-left: 40%;
}

/* Mobile layout */
@media screen and (max-width: 75rem) {
    #root {
        width: 100%;
        padding: 0;
    }

    #inputArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    label[for=answerInput] {
        margin-top: 10%;
    }

    #keyboardArea * :not(.coreControl) {
        display: none;
    }

    #keyboardArea button {
        font-size: 40px;
    }
}
